# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual envs
.venv/
venv/
ENV/

# Django
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# SQLite (если остался)
db.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc

minio/data/.minio.sys
