{% extends 'base/comet_layout.html' %}

{% block content %}
<section class="order">
    <h1>Заявка #{{ order_id }}</h1>
    <div class="summary">Всего позиций: <span class="badge badge-primary">{{ cart_count }}</span></div>

    {% for item in items %}
    <div class="order-item">
        <img src="{{ item.service.image_url }}" alt="{{ item.service.name }}">
        <div class="order-item-row">
            <span class="name">{{ item.service.name }}</span>
            <span class="price">{{ item.service.price }} ₽</span>
            <span class="date">{{ item.service.event_date }}</span>
            <span class="meta">
                кол-во: {{ item.quantity }}, порядок: {{ item.sort_order }}, главный: {% if item.is_main%}да{%else%}нет{% endif %}
            </span>
        </div>
        <div class="order-item-metrics">
            <span class="calc-date">Дата расчёта: <strong>{{ item.calc_date }}</strong></span>
            <span class="calc-distance">Расстояние от Солнца: <strong>{{ item.distance_au|floatformat:3 }}
                    а.е.</strong></span>
        </div>
    </div>
    {% empty %}
    <p class="no-items">Заявка пуста</p>
    {% endfor %}

</section>
{% endblock %}